@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --cor-1: #6c137e;
    --cor-2: #4D4050;
    --cor-3: #322A33;
    --cor-4: #3E0E4E;
    --cor-5: rgb(131, 71, 131);
    --cor-6: rgb(43, 28, 43);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(56, 52, 52, 0.979);
    color: rgb(255, 255, 255);
    background-image: url(/projetos/img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; 
    background-color: rgba(102, 38, 161, 0.534); 
}

.logo-menu {
    font-size: 1.9em;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 40px;
}

.logo-span {
    color: #e4d0ec;
    font-weight: 400;
    letter-spacing: 5px;
    font-weight: 340;
}

.navbar-btn {
    border: 2px solid #6c137e;
    padding: 16px;
    border-radius: 15px;
    transition: .4s ease;
}

.navbar-btn:hover {
    color: white;
    background-color: #6c137e;

}

.navbar-menu {
    letter-spacing: 2px;
    font-weight: 300;
}

.navbar-menu ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--cor-2);
    transition: .3s;
}

main {
    max-width: 700px;
    padding: 40px;
    color: rgb(78, 0, 122);
    padding-top: 60px;
}

main h1 {
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 56px;
}

.main-span {
    color: white;
    font-size: 1.3em;
}

main p {
    max-width: 450px;
    font-weight: 300;
    color: black;
    padding-bottom: 20px;
}

form  {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-bottom: 80px;
}

form input {
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin: 3px;
}

.btn-submit {
    padding: 20px;
    border-radius: 20px;
    margin: 3px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-4);
    color: white;
    font-size: 17px;
}

.btn-submit:hover {
    background-color: var(--cor-1);
}

input::placeholder {
    font-size: 17px;
}

footer {
    text-align: center;
    background-color: var(--cor-6);
    color: rgb(255, 255, 255);
    padding: 4px;
    font-weight: 300;
}

footer a {
    color: var(--cor-5);
    font-weight: 600;
}



