@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /*background-color: black;
    background-image: url(img/wallpaper004.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background: black url(img/wallpaper004.jpg) center center no-repeat fixed; /*shorthand*/
    background-size: cover; /*importante declarar o size separadamente*/
}

main {
    background-color: rgba(27, 25, 25, 0.918);
    color: #f5f5f5ea;
    max-width: 700px;
    min-width: 350px;
    margin: 10px auto; /*10px em cima em baixo, auto dos lados*/
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
}

h1 {
    text-align: center;
    padding-bottom: 15px;
}

p {
    padding: 7px 10px;
    line-height: 1.6;
    font-size: 1.1rem;
}



