/*Site mobile first*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    min-height: 100vh;
}

body {
    background-image: url(img/back-phone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(255, 255, 255, 0.795);
}

h1 {
    text-align: center;
}

.container {
    width: 70vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.37);
    margin: auto;
    border-radius: 20px;
}

img {
    display: block;
    margin: auto;
}

h1 {
    display: block;
}

.phone {display: block;}
.tablet {display: none;}
.pc {display: none;}
.tv {display: none;}

.h1phone {display: block;}
.h1tablet {display: none;}
.h1pc {display: none;}
.h1tv {display: none;}

@media (min-width: 768px) {
    body {
        background-image: url(img/back-tablet.jpg);
    }

    .phone {display: none;}
    .tablet {display: block;}
    .pc {display: none;}
    .tv {display: none;}

    .h1phone {display: none;}
    .h1tablet {display: block;}
    .h1pc {display: none;}
    .h1tv {display: none;}
}

@media (min-width: 1024px) {
    body {
        background-image: url(img/back-pc.jpg);
    }
    .phone {display: none;}
    .tablet {display: none;}
    .pc {display: block;}
    .tv {display: none;}

    .h1phone {display: none;}
    .h1tablet {display: none;}
    .h1pc {display: block;}
    .h1tv {display: none;}
}

@media (min-width: 1440px) {
    body {
        background-image: url(img/back-tv.jpg);
    }

    .phone {display: none;}
    .tablet {display: none;}
    .pc {display: none;}
    .tv {display: block;}

    .h1phone {display: none;}
    .h1tablet {display: none;}
    .h1pc {display: none;}
    .h1tv {display: block;}
}